body{
background-color: rgb(242, 41, 41);
text-align: center;
padding: 16px;
}

header {
background-color: rgb(111, 0, 255);
}

section {
background-color: rgb(2, 7, 54);
}
.conteudo-site{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}