body{
background-color: aquamarine;
text-align: center;
padding: 16px;
}

header {
background-color: blueviolet;
}

section {
background-color: white;
}
.conteudo-site{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}